#board {
  display: grid;
  grid-template-rows: repeat(16, 4vh);
  grid-template-columns: repeat(8, 4vh);

  @include breakpoint-up(medium) {
    grid-template-rows: repeat(16, 4.5vh);
    grid-template-columns: repeat(8, 4.5vh);
  }

  @include breakpoint-up(large) {
    grid-template-rows: repeat(16, 5vh);
    grid-template-columns: repeat(8, 5vh);
  }

  // @include breakpoint-up(mlarge) {
  //   grid-template-rows: repeat(16, 3vw);
  //   grid-template-columns: repeat(8, 3vw);
  // }

  // @include breakpoint-up(xlarge) {
  //   grid-template-rows: repeat(16, 2vw);
  //   grid-template-columns: repeat(8, 2vw);
  // }
}

.board {
  background: palevioletred;
  position: fixed;

  padding: 0.5vh;

  width: auto;
  height: auto;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include breakpoint-down(small) {
    margin-top: -12vh;
  }

  @include breakpoint-up-height(medium, small) {
    margin-top: -20%;
  }

  @include breakpoint-up(medium) {
    margin-top: 0%;
    transform: translate(-82%, -50%);
  }

  @include breakpoint-up(large) {
    transform: translate(-100%, -50%);
  }

  @include breakpoint-up(mlarge) {
    transform: translate(-120%, -50%);
  }

  @include breakpoint-up(xlarge) {
    transform: translate(-110%, -50%);
  }
}

.cell {
  background-color: rgb(251, 245, 251);
  border: 0.5px solid gray;
  text-align: center;

  width: 4vh;
  height: 4vh;

  @include breakpoint-up(medium) {
    width: 4.5vh;
    height: 4.5vh;
  }

  @include breakpoint-up(large) {
    width: 5vh;
    height: 5vh;
  }

  // @include breakpoint-up(large) {
  //   width: 5vw;
  //   height: 5vw;
  // }

  // @include breakpoint-up(mlarge) {
  //   width: 3vw;
  //   height: 3vw;
  // }

  // @include breakpoint-up(xlarge) {
  //   width: 2vw;
  //   height: 2vw;
  // }

  text-align: center;
}

// Copied from https://codepen.io/toni-leigh/pen/oclKj
$colours: ("white", rgb(251, 245, 251)), ("blue", #5eade2), ("yellow", #f6e651), ("green", #5fdf48), ("red", #e74c3c),
  ("purple", #bc66df) ("orange", #f8953f), ("darkblue", #2337e9);

@each $colour, $hex in $colours {
  .#{$colour} {
    background-color: $hex;
  }
}
