html {
    font-size: 100%;
    box-sizing: border-box;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url("/app/images/pink-clouds.jpg");
}
